.contener{
  width:270px;
  padding-top: 50px;
  border-color:black ;
  border-radius:'1px';
  margin:'.5rem';
}

.title{
  color: aliceblue;
}

.img{  
  border-radius: 20px;
  height:370px;
  object-fit: cover ;
 }
