/* body {
 
} */

@font-face {

  font-family: "Bungee"; 
 
  src: url("./fonts/Bungee-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 
*{
  font-family: "Bungee";  
 
  src: url("./fonts/Bungee-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 

}


/* code {
  font-family:Impact, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


body {
  margin: 0;
  /* font-family: Impact,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */

}



.nav ul{
  font-size: 30px;
  font-weight: bold;

}

.nav li link{
  text-shadow: 3px 1px 1px 1px  black ;
}
