@font-face {

  font-family: "Bungee";

  src: url("./fonts/Bungee-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  font-family: "Bungee";

  src: url("./fonts/Bungee-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;

}





body {
  margin: 0;
  box-sizing: border-box;
}
